# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# UI
Frontend/node_modules/
Frontend/dist/

# Backend
Backend/venv/
Backend/.env
Backend/__pycache__/
Backend/*.pyc
